#cuadroColor,
#cuadroImagen {
    width: 500px;
    height: 400px;
    border: 0,5px solid blue;
    margin-top: 10px;
}
.contenedor-flex {
    display: flex;
    gap: 200px;
    align-items: start;
    margin-top: 20px;
}
.bloque {
    width: 400px;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
